<div class="max-w-screen-lg mx-auto mt-32 px-6">
  <h1 class=" text-center text-3xl font-medium text-neutral-900 sm:text-6xl">Effortless restaurant management</h1>
  <p class="mt-6 text-center text-lg leading-6 text-neutral-600">Revolutionize your restaurant with our intuitive platform. Streamline
    operations, create unforgettable experiences, and drive success!</p>
  <div class="mt-10 flex justify-center gap-4">
    <%= link_to restaurants_path, class: "shadow-sm bg-neutral-900 hover:bg-neutral-700 transition-colors text-white inline-flex items-center justify-center rounded-md text-sm font-medium h-10 px-4 py-2" do %>
      Get started
    <% end %>
    <%= link_to restaurants_path, class: "shadow-sm bg-white hover:bg-neutral-100 transition-colors ring-1 ring-neutral-200 hover:ring-neutral-300 inline-flex items-center justify-center rounded-md text-sm font-medium h-10 px-4 py-2" do %>
      Learn more
    <% end %>
  </div>
</div>
